In [1]:
a = ["banana", "apple", "microsoft"]

In [4]:
for element in a:
    print(element)
    print(element)

banana
banana
apple
apple
microsoft
microsoft

In [6]:
b = [20, 10, 5]
total = 0
for e in b:
    total = total + e
print(total)

35

In [7]:
# 1, 2, 3, 4
c = list(range(1, 5))
print(c)

[1, 2, 3, 4]

In [9]:
total2 = 0
for i in range(1, 5):
    total2 += i
print(total2)

10

In [10]:
print(list(range(1, 8)))

[1, 2, 3, 4, 5, 6, 7]

In [11]:
print(4 % 3)

1

In [12]:
print(5 % 3)

2

In [13]:
print(1 % 3)

1

In [14]:
print(6 % 3)

0

In [15]:
total3 = 0
for i in range(1, 8):
    if i % 3 == 0:
        total3 += i
print(total3)

9

In [2]:
# Can you compute all multiples of 3, 5
# that are less than 100?
print(list(range(1, 100)))

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99]

In [9]:
titil = 0
for e in range (1, 100):
    if e % 3 == 0:
        titil += e
print(titil)
        break
for u in range (1,100):
    if u% 5==0:
        titil += u
print (til)
print(titil+til)# is not the correct answer

IndentationError: unexpected indent (<ipython-input-9-9b2d24caccad>, line 6)

In [4]:
# So answer is 
toral = 0
for i in range(100):
    if i % 3==0:
        toral+=i
    elif i % 5 ==0:
        toral+=i
print (toral)

2318

In [11]:
# else it could be done by
total =0
for i in range (100):
    if i % 3==0 or i%5 ==0:
        total += i
print(total)

2318

In [9]:
titil = 0
for e in range (1, 100):
    if e % 3 == 0:
        
        titil += e

til = 0
for u in range (1,100):
    if u% 5==0:
        til += u

print(titil+til)

2633

In [6]:
titil = 0
for e in range (1, 100):
    if e % 3 == 0:
        titil += e
print(titil)

1683

In [7]:
for e in range (1, 100):
    if e % 3 == 0:
        titil = 0 
        titil += e
print(titil)

99

In [14]:
print(titil+til)

2633

In [10]:
for e in range (1, 100):
    if e % 3 == e and e % 5 == e :
        print(list(range(e)))

[0]
[0, 1]

In [37]:
for e in range (1, 100):
    if e % 3 == 0  :
        print(range(e))
      
for u in range (1,100):
    if u % 5 == 0:
        print(range(u))

range(0, 3)
range(0, 6)
range(0, 9)
range(0, 12)
range(0, 15)
range(0, 18)
range(0, 21)
range(0, 24)
range(0, 27)
range(0, 30)
range(0, 33)
range(0, 36)
range(0, 39)
range(0, 42)
range(0, 45)
range(0, 48)
range(0, 51)
range(0, 54)
range(0, 57)
range(0, 60)
range(0, 63)
range(0, 66)
range(0, 69)
range(0, 72)
range(0, 75)
range(0, 78)
range(0, 81)
range(0, 84)
range(0, 87)
range(0, 90)
range(0, 93)
range(0, 96)
range(0, 99)
range(0, 5)
range(0, 10)
range(0, 15)
range(0, 20)
range(0, 25)
range(0, 30)
range(0, 35)
range(0, 40)
range(0, 45)
range(0, 50)
range(0, 55)
range(0, 60)
range(0, 65)
range(0, 70)
range(0, 75)
range(0, 80)
range(0, 85)
range(0, 90)
range(0, 95)

In [1]:
for e in range (1, 100):
    if e % 3 == 0 and e % 5 == 0 : # think is a fn of l.c.m
        print(list(range(e)))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14]
[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29]
[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44]
[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59]
[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74]
[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89]

In [ ]:
# join Dojogang by sub
# csdojo.io/python5
# YK from CS Dojo